@{
    ViewData["Title"] = "Search";
}

<h1>View</h1>

<form method="get" asp-action="SearchView">
    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search...">
    <button type="submit">Search</button>

    <label for="sortOrder">Filter:</label>
    <select id="sortOrder" name="sortOrder">
        <option value="alphabetical">Alphabetical (A-Z)</option>
        <option value="close_exp">Closest to Expiration</option>
        <option value="far_exp">Furthest from Expiration</option>
    </select>
    <script>
        document.getElementById('sortOrder').addEventListener('change', function () {
            this.form.submit();
        });
    </script>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ContractID
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                ContractName
            </th>
            <th>
                Owner
            </th>
            <th>
                StageName
            </th>
            <th>
                UpdatedOn
            </th>
            <th>
                AgencyName
            </th>
            <th>
                City
            </th>
            <th>
                Department
            </th>
            <th>
                FacultyInitiator
            </th>
            <th>
                Renewal
            </th>
            <th>
                State
            </th>
            <th>
                Year
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContractList)
        {
            <tr>
                <td>
                    @item.ContractID
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    @item.ContractName
                </td>
                <td>
                    @item.Owner
                </td>
                <td>
                    @item.StageName
                </td>
                <td>
                    @item.UpdatedOn
                </td>
                <td>
                    @item.AgencyName
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.Department
                </td>
                <td>
                    @item.FacultyInitiator
                </td>
                <td>
                    @item.Renewal
                </td>
                <td>
                    @item.State
                </td>
                <td>
                    @item.Year
                </td>
            </tr>
        }
    </tbody>
</table>
