@{
    Layout = "~/Views/Shared/_UploadLayout.cshtml";
}

@model IEnumerable<Common.Entities.CSV>

<form asp-controller="CSV" asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
</form>


@if (Model != null && Model.Any())
{
    @Html.ActionLink("Submit", "Submit", "CSV", null, new { @class = "btn btn-primary" } )
    @Html.ActionLink("OverWrite Submit", "OverWriteSubmit", "CSV", null, new { @class = "btn btn-primary" } )
    @Html.ActionLink("Clear CSV", "ClearUpload", "CSV", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Export to CSV", "ErrorExportCSV", "CSV", null, new { @class = "btn btn-primary" })
    <h2>Detailed View</h2>

    <p>
        Total Number of Contracts: @ViewBag.Count
    </p>
    <p>
        New Number of Contracts:   @ViewBag.Duplicate
    </p>

    <button id="showAllButton">Show All Objects</button>
    <button id="showFilteredButton">Show New Contracts Only</button>

    <table class="custom-table" id="objectTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)" data-order="asc">
                    @Html.DisplayNameFor(model => model.ContractID)
                </th>
                <th  onclick="sortTable(1)" data-order="asc">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th  onclick="sortTable(2)" data-order="asc">
                    @Html.DisplayNameFor(model => model.ContractName)
                </th>
                <th onclick="sortTable(3)"  data-order="asc">
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th  onclick="sortTable(4)" data-order="asc">
                    @Html.DisplayNameFor(model => model.UpdatedOn)
                </th>
                <th onclick="sortTable(5)"  data-order="asc">
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th  onclick="sortTable(6)" data-order="asc">
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th onclick="sortTable(7)"  data-order="asc">
                    @Html.DisplayNameFor(model => model.Error)
                </th>
                <th  onclick="sortTable(8)" data-order="asc">
                    @Html.DisplayNameFor(model => model.Duplicate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="/CSV/DetailView/@item.ContractID" class="btn btn-primary" target="_blank">@item.ContractID</a></td>
                    <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                    <td>@Html.DisplayFor(modelItem => item.ContractName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                    <td>@Html.DisplayFor(modelItem => item.UpdatedOn)</td>
                    <td>@Html.DisplayFor(modelItem => item.Department)</td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>
                        @(item.Error ? "true" : "false")
                    </td>
                    <td>
                        @(item.Duplicate ? "true" : "false")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ContractID">Edit</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <button id="runButton">Load Visualization</button>
    <div id="mynetwork" style="display: none;"></div>
    <p id="response"></p>
    <div id="progressContainer" class="progress" style="display:none;">
        <div id="progressBar" class="progress-bar" role="progressbar" style="width:100%;">
            100%
        </div>
    </div>
}




<script>
    document.getElementById("runButton").addEventListener("click", function () {
        var scriptElement = document.createElement("script");

        scriptElement.src = "/js/loadVisualization.js";

        document.head.appendChild(scriptElement);
    });


    function sortTable(colIndex) {
        var table = document.getElementById("objectTable");
        var headerRow = table.getElementsByTagName("thead")[0].getElementsByTagName("tr")[0];
        var headerCells = headerRow.getElementsByTagName("th");

        var currentOrder = headerCells[colIndex].getAttribute("data-order");
        var newOrder = currentOrder === "asc" ? "desc" : "asc";
        headerCells[colIndex].setAttribute("data-order", newOrder);

        var rows = Array.from(table.rows).slice(1); // Exclude header row

        rows.sort((a, b) => {
            var aValue = getValueFromCell(a.cells[colIndex]);
            var bValue = getValueFromCell(b.cells[colIndex]);

            // Compare the values based on sorting direction
            if (newOrder === "asc") {
                return compareValues(aValue, bValue);
            } else {
                return compareValues(bValue, aValue);
            }
        });

        rows.forEach(row => table.appendChild(row));
    }

    function getValueFromCell(cell) {

        var text = cell.textContent ? cell.textContent.trim() : "";
        // Parse number
        if (!isNaN(text)) {
            return parseFloat(text);
        }
        // Parse date
        var date = Date.parse(text);
        if (!isNaN(date)) {
            return new Date(date);
        }
        // Default to string
        return text;
    }

    function compareValues(valueA, valueB) {
        if (typeof valueA === "string" && typeof valueB === "string") {
            return valueA.localeCompare(valueB);
        } else {
            return valueA - valueB;
        }
    }
</script>


@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}